body {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 2em;
  font-weight: 200
}

a {
  text-decoration: none;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  font-family: sans-serif;
  font-weight: normal;
}

figcaption {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  line-height: 1.5em;
}

h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-size: 20px;
  font-weight: 220;
  line-height: 1.5em;
}

.author {
  font-size: 14px;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 50%;
}
